<div class="container">
<div class="row">
<div class="col-md-12">
<h3><strong>Assets</strong></h3>
<div class="pull-right"><h5><strong>Export To: </strong><%= link_to "CSV", {:controller=>'assets',:action=>'export',format: "csv"}%></h5></div>
<%= form_tag home_path, method: 'get' do  %>
Status: <%= select_tag "status", options_for_select([["All","All"],["active","active"],["spare","spare"],["faulty","faulty"],["returned","returned"],["servicing","servicing"],["inactive","inactive"]],params[:status]),{} %> 
Owner: <%= select_tag "owner", content_tag(:option,'All',:value=>"0")+options_from_collection_for_select(@owners, "id", "client", selected: params[:owner]) %>
Employee: <%= select_tag "employee", content_tag(:option,'All',:value=>"0")+options_from_collection_for_select(@employees, "id", "name", selected: params[:employee]) %>
Type: <%= select_tag "asset_type", options_for_select([["All","All"],["Desktop","desktop"],["Laptop","Laptop"],["Monitor","Monitor"],["Mouse","Mouse"],["Keyboard","Keyboard"],["Headset","Headset"],["Mobile","Mobile"],["Tablet","Tablet"],["Printer","Printer"],["Router","Router"],["Firewall","Firewall"],["Switch","Switch"],["Software","Software"]],params[:asset_type]) %>
<%= submit_tag "Search" %>
<%end%>
<table id="assetsTable" class="table table-bordered">
<thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Location</th>
<th>Type</th>
<th>Owner</th>
<th>Assigned To</th>
<th>Status</th>
<th>Edit</th>
<th>More</th>
<th>History</th>
</tr>
</thead>
<tbody>
<% @assets.each do |a| %>
  <tr>
  <td><%= a.id %></td>
  <td><%= a.name %></td>
  <td><%= a.location %></td>
  <td><%= a.asset_type %></td>
  <td><%= a.owner.client %></td>
  <td><%= a.employee.name %></td>
  <td><%= a.status %></td>
  <td><%= link_to "Edit",{:controller=>'assets',:action=>'edit',:id=>a.id}, :class => "btn btn-primary btn-sm" %></td>
  <td><%= link_to "More..",{:controller=>'assets',:action=>'show',:id=>a.id}, :remote => true, 'data-type' => :script, :class => "btn btn-primary btn-sm" %></td>
  <td><%= link_to "History",{:controller=>'assets',:action=>'history',:id=>a.id}, :remote => true, 'data-type' => :script, :class => "btn btn-primary btn-sm" %></td>
  </tr>
<% end %>
</tbody>
</table>

<div id="task-form"></div>
<div id="assetHistory"></div>
</div>
</div>
</div>


<%= javascript_tag("$(document).ready(function() {
    $('#assetsTable').DataTable();
} );") %>



