<div class="container">
<div clas="row">
<div class="col-md-12">
<h1>Sessions#profile,</h1>
<p>Find me in app/views/sessions/profile,.html.erb</p>
<h2 class='User_Header'> <%=@current_user.id%> Profile <h2>
  </div>
</div>
</div>
