<div>
  <div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Employee</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:employee, :url => {:action => 'update', :id=> params[:id]}) do |f| %>
        <p> Name: </br> <%= f.text_field :name%> </p>
        <p> Employee ID: </br> <%= f.text_field :employee_code%> </p>
        <p> Email: </br> <%= f.text_field :email%> </p>
        <p> Role: </br> Employee <%= f.radio_button :role, 'Employee' %> Owner <%= f.radio_button :role, 'Owner' %> </p>
        <%= f.submit "Save Employee" %>
        <% end %>
        <% if @employee.errors.any? %>
        <ul>
        <% for message_error in @employee.errors.full_messages %>
        <li>* <%= message_error %></li>
        <% end %>
        </ul>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>