jQuery(function($) {
$("#editEmployee").append("<%= escape_javascript(render(:partial => 'edit', :locals => {vendor: @vendor})) %>");
$("#editEmployeeModal").modal('show');
$('#editEmployeeModal').on('hide.bs.modal', function () {
    // do something…
    
    $('#editEmployee').empty();
  });
// alert("apple");
});