<div class="container">
<div clas="row">
<div class="col-md-12">
<div>
<h1>New Employee</h1>
<%= form_for(:employee, :url => {:action => 'create'}) do |f| %>
<p> Name: </br> <%= f.text_field :name%> </p>
<p> Employee ID: </br> <%= f.text_field :employee_code%> </p>
<p> Email: </br> <%= f.text_field :email%> </p>
<p> Role: </br> Employee <%= f.radio_button :role, 'Employee' %> Owner <%= f.radio_button :role, 'Owner' %> </p>
<%= f.submit "Create Employee" %>
<% end %>
<% if @employee.errors.any? %>
<ul>
<% for message_error in @employee.errors.full_messages %>
<li>* <%= message_error %></li>
<% end %>
</ul>
<% end %>
</div>
</div>
</div>
</div>