<div class="container">
<div clas="row">
<div class="col-md-12">
<h1>Employee List</h1>
<table id="employeesTable" class="table table-bordered">
<thead>
<tr>
<th>Name</th>
<th>Employee ID</th>
<th>Email</th>
<th>Role</th>
<th>Edit</th>
</tr>
</thead>
<tbody>
<% @employees.each do |e| %>
  <tr>
  <td><%= e.name %></td>
  <td><%= e.employee_code %></td>
  <td><%= e.email %></td>
  <td><%= e.role %></td>
  <td><%= link_to "Edit",{:action=>'edit',:id=>e.id}, :remote => true, 'data-type' => :script, :class => "btn btn-primary btn-sm"%></td>
  </tr>
<% end %>
</tbody>
</table>
<div id="editEmployee"></div>
</div>
</div>
</div>
<%= javascript_tag("$(document).ready(function() {
    $('#employeesTable').DataTable();
} );") %>
