<div class="container">
<div clas="row">
<div class="col-md-12">
<div>
<h1>New Owner</h1>
<%= form_for(:owner, :url => {:action => 'create'}) do |f| %>
<p> Client: </br> <%= f.text_field :client%> </p>
<p> Process: </br> <%= f.text_field :process%> </p>
<p> Name: </br> <%= f.text_field :name%> </p>
<%= f.submit "Create Owner" %>
<% end %>
<% if @owner.errors.any? %>
<ul>
<% for message_error in @owner.errors.full_messages %>
<li>* <%= message_error %></li>
<% end %>
</ul>
<% end %>
</div>
</div>
</div>
</div>