<div class="container">
<div clas="row">
<div class="col-md-12">
<h1>Owner List</h1>
<table id="ownersTable" class="table table-bordered">
<thead>
<tr>
<th>Client</th>
<th>Process</th>
<th>Name</th>
<th></th>
</tr>
</thead>
<tbody>
<% @owners.each do |o| %>
  <tr>
  <td><%= o.client %></td>
  <td><%= o.process %></td>
  <td><%= o.name %></td>
  <td><%= link_to "Edit",:action=>'edit',:id=>o.id %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>
<%= javascript_tag("$(document).ready(function() {
    $('#ownersTable').DataTable();
} );") %>