<% @page_title = "UserAuth | Signup" %>
<div class="container">
<div clas="row">
<div class="col-md-12">
<div class="Sign_Form">
<h1>Sign Up</h1>
<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
<p> Username:</br> <%= f.text_field :name%> </p>
<p> Email:</br> <%= f.text_field :email%> </p>
<p> Employee Id:</br> <%= f.text_field :employee_code%> </p>
<p> Password:</br> <%= f.password_field :password%></p>
<p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
<%= f.submit :Signup %>
<% end %>
<% if @user.errors.any? %>
<ul class="Signup_Errors">
<% for message_error in @user.errors.full_messages %>
<li>* <%= message_error %></li>
<% end %>
</ul>
<% end %>
</div> 
</div>
</div>
</div>