<div class="modal fade" id="assetHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Asset</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
        <% if !assetstatuses.empty? %>
        <table id="assetHistoryTable" class="table table-bordered">
        <thead>
        <tr>
        <th>Status</th>
        <th>Changed at</th>
        </tr>
        </thead>
        <tbody>
        <% assetstatuses.each do |assetstatus| %>
          <tr>
          <td><%= assetstatus.new_status %></td>
          <td><%= assetstatus.created_at.localtime %></td>
          </tr>
        <% end %>
        </tbody>
        </table>
        <% else %>
        <p>Error with the Asset</p>
        <% end %>
      </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag("$(document).ready(function() {
    $('#assetHistoryTable').DataTable({
      'order': [[1,'asc']] 
      });
} );") %>