<div class="modal fade" id="assetShowModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Asset</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= a.name %></td>
            </tr>
            <tr>
              <td>Location</td>
              <td><%= a.location %></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><%= a.description %></td>
            </tr>
            <tr>
              <td>Owner</td>
              <td><%= a.owner.name %></td>
            </tr>
            <tr>
              <td>Assgned To</td>
              <td><%= a.employee.name %></td>
            </tr>
            <tr>
              <td>Status</td>
              <td><%= a.status %></td>
            </tr>
            <tr>
              <td>Model No.</td>
              <td><%= a.model_no %></td>
            </tr>
            <tr>
              <td>Serial No</td>
              <td><%= a.serial_no %></td>
            </tr>
            <tr>
              <td>MAC Address</td>
              <td><%= a.mac_address %></td>
            </tr>
            <tr>
              <td>Purchase Date</td>
              <td><%= a.purchase_date %></td>
            </tr>
            <tr>
              <td>Purchase Order</td>
              <td><%= image_tag('upload'+a.purchase_order.scanned_file_url, width: "300") %></td>
            </tr>
            <tr>
              <td>Vendor</td>
              <td><%= a.vendor.name %></td>
            </tr>
            <tr>
              <td>Cost</td>
              <td><%= a.cost %></td>
            </tr>
            <tr>
              <td>AMC</td>
              <td><%= a.amc %></td>
            </tr>
            <tr>
              <td>AMC Amount</td>
              <td><%= a.amc_amount %></td>
            </tr>
            <tr>
              <td>Expiry Date</td>
              <td><%= a.expiry_date %></td>
            </tr>
            <tr>
              <td>Status Date</td>
              <td><%= a.status_date %></td>
            </tr>
            <tr>
              <td>Warranty Type</td>
              <td><%= a.warranty_type %></td>
            </tr>
            <tr>
              <td>Image URL</td>
              <td><%= image_tag('upload'+a.image_url, width: "100") %></td>
            </tr>
            <tr>
              <td>IS Type</td>
              <td><%= a.is_type %></td>
            </tr>
            <tr>
              <td>Integrity</td>
              <td><%= a.integrity %></td>
            </tr>
            <tr>
              <td>Confidentiality</td>
              <td><%= a.confidentiality %></td>
            </tr>
            <tr>
              <td>Additional Notes</td>
              <td><%= a.note %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>