<div class="container">
<div clas="row">
<h3>Edit Asset</h3>
<div>
<%= form_for(:asset, :url => {:controller => 'assets', :action => 'update', :id => params[:id]}) do |f| %>
<div class="col-md-3">

  <div class="form-group">
    <%= f.label :name, :class=>"control-label" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location, :class=>"control-label" %>
    <%= f.text_field :location, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class=>"control-label" %>
    <%= f.text_area :description, :style => "resize:none" , :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :asset_type, 'Type', :class=>"control-label" %>
    <%= f.select :asset_type, options_for_select([["Desktop","Desktop"],["Laptop","Laptop"],["Monitor","Monitor"],["Mouse","Mouse"],["Keyboard","Keyboard"],["Headset","Headset"],["Mobile","Mobile"],["Tablet","Tablet"],["Printer","Printer"],["Router","Router"],["Firewall","Firewall"],["Switch","Switch"],["Software","Software"]]),{}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :owner_id, 'Owner', :class=>"control-label" %>
    <%= f.select :owner_id, options_from_collection_for_select(@owners, 'id', 'name', :selected => @asset.owner_id),{}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :employee_id, 'Assigned To', :class=>"control-label" %>
    <%= f.select :employee_id, options_from_collection_for_select(@employees, 'id', 'name', :selected => @asset.employee_id),{}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status, :class=>"control-label" %>
    <%= f.select :status, options_for_select([["active","active"],["spare","spare"],["faulty","faulty"],["returned","returned"],["servicing","servicing"],["inactive","inactive"]], :selected => @asset.status), :class => "form-control" %>
  </div>

</div>

<div class="col-md-3 col-md-offset-1">

  <div class="form-group">
    <%= f.label :model_no, :class=>"control-label" %>
    <%= f.text_field :model_no, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :serial_no, :class=>"control-label" %>
    <%= f.text_field :serial_no, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :mac_address, 'MAC Address', :class=>"control-label" %>
    <%= f.text_field :mac_address, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :purchase_date, 'Purchase Date', :class=>"control-label" %>
    <%= f.date_select :purchase_date, :use_two_digit_numbers => true, :start_year => 1900, :end_year => Date.current.year, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :purchase_order, 'Purchase Order', :class=>"control-label" %>
    <%= f.file_field :purchase_order %>
  </div>

  <div class="form-group">
    <%= f.label :vendor_id, 'Vendor', :class=>"control-label" %>
    <%= f.select :vendor_id, options_from_collection_for_select(@vendors, 'id', 'name', :selected => @asset.vendor_id),{}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cost, :class=>"control-label"%>
    <%= f.text_field :cost, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :amc, 'AMC', :class=>"control-label" %>
    <%= f.select :amc, options_for_select([["Yes","Yes"],["No","No"]], :selected => @asset.amc),{}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :amc_amount, 'AMC Amount', :class=>"control-label" %>
    <%= f.text_field :amc_amount, :class => "form-control"  %>
  </div>

</div>

<div class="col-md-3 col-md-offset-1">

  <div class="form-group">
    <%= f.label :expiry_date, 'Expiry Date', :class=>"control-label" %>
    <%= f.date_select :expiry_date, :use_two_digit_numbers => true, :start_year => 1900, :end_year => 2100, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status_date, 'Status Date', :class=>"control-label" %>
    <%= f.date_select :status_date, :use_two_digit_numbers => true, :start_year => 1900, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :warranty_type, 'Warranty Type', :class=>"control-label" %>
    <%= f.select :warranty_type, options_for_select([["1 year","1 year"],["2 year","2 year"],["3 year","3 year"],["4 year","4 year"],["5 year","5 year"],["perpetual","perpetual"]], :selected => @asset.warranty_type),{}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image, 'Asset Image', :class=>"control-label" %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :is_type, 'IS Type', :class=>"control-label" %>
    <%= f.text_field :is_type, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :integrity, :class=>"control-label" %>
    <%= f.select :integrity, options_for_select([["High","High"],["Medium","Medium"],["Low","Low"]], :selected => @asset.integrity),{}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :confidentiality, :class=>"control-label" %>
    <%= f.select :confidentiality, options_for_select([["High","High"],["Medium","Medium"],["Low","Low"]], :selected => @asset.confidentiality),{}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :note, 'Additional Notes', :class=>"control-label" %>
    <%= f.text_area :note, :style => "resize:none", :class => "form-control" %>
  </div>

  <%= f.submit "Save", :class=>"btn btn-primary" %>

</div>
  
<% end %>

<% if @asset.errors.any? %>
  <ul class="Signup_Errors">
  <% for message_error in @asset.errors.full_messages %>
    <li>* <%= message_error %></li>
  <% end %>
  </ul>
<% end %>

</div>
</div>
</div>