jQuery(function($) {
$("#assetHistory").append("<%= escape_javascript(render(:partial => 'assets/history', :locals => {assetstatuses: @assetstatuses})) %>");
$("#assetHistoryModal").modal('show');
$('#assetHistoryModal').on('hide.bs.modal', function () {
    // do something…
    
    $('#assetHistory').empty();
  });
// alert("apple");
});