jQuery(function($) {
$("#task-form").append("<%= escape_javascript(render(:partial => 'assets/show', :locals => {a: @asset})) %>");
$("#assetShowModal").modal('show');
$('#assetShowModal').on('hide.bs.modal', function () {
    // do something…
    
    $('#task-form').empty();
  });
// alert("apple");
});
