<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %> 
</head>
<body>

    <div class="container">
    <h1>Inventory Management</h1>
    <%unless session[:user_id]%>
      <ul class="nav nav-pills">
        <li class="active"><%= link_to :Login , :login, class: "nav_links"%></li>
        <li><%= link_to :Signup , :signup, class: "nav_links"%></li>
      </ul>
    <%else%>
      <ul class="nav nav-tabs">
        <li><%= link_to :Home , :home, class: "nav_links" %></li>
        <li><%= link_to "Create Asset" , :newAsset, class: "nav_links" %> </li>
        <li><%= link_to "Vendors" , :listVendors, class: "nav_links" %> </li>
        <li><%= link_to "List Employees" , :listEmployees, class: "nav_links" %> </li>
        <li><%= link_to "Create Employee" , :newEmployee, class: "nav_links" %> </li>
        <li><%= link_to :Logout , :logout, class: "nav_links" %></li> 
      </ul>
    <%end%>
  
  <% if flash[:color]== "valid" %>
    <div>
      <p class="alert alert-success"><%= flash[:notice]%></p>
    </div>
  <% elsif flash[:color]== "invalid"%>
    <div>
      <p class="alert alert-danger"><%=flash[:notice]%></p>
    </div>
  <%end%>
  </div>
<%= yield %>

</body>
</html>
